<div class="container">
  <h1>Tweeter</h1>

  <form action="/tweet" method="post" id="tweet_form">
    
    <input name="tweet" id="tweet" placeholder="username">
    <input type="submit" value="Get Tweets!">
  </form>

  <div id="silly">
    <img src="images/silly.gif">
  </div>  
</div>
