<div class="container">
  <h1>Tweeter</h1>
  <% if @user %>


  <div>    
    <form action="/tweet" method="post" id="tweet_form">
      <input name="tweet" id="tweet" placeholder="Enter Tweet Here!">
      <input type="submit" value="Tweet!">
    </form>
    <% if @timeline %>
    <% @timeline.each do |tweet| %>
      <p><%= tweet[:text] %></p>
    <% end %>
    <% end %>

  </div>


  <div id="silly">
    <img src="images/silly.gif">
  </div>  
  
  <% else %>

  <button class="signin_button"><a href="/signin">Sign in with Twitter</a></button>

  <% end %>
</div>
